In [132]:
import pandas as pd
import numpy as np
import os

In [133]:
os.listdir()

['.ipynb_checkpoints',
 '2022 All lab results.xlsm',
 'Amr_lab.ipynb',
 'EOY.csv',
 'Lub.   Oil.csv',
 'Nitrogen    Inlet.csv',
 'RW Quality.csv',
 'Sour water  B.L.csv',
 'Spec.     HC.csv',
 'Spec.    water.csv',
 'Tempered    Water.csv',
 'Trace M.csv',
 'U-01  Vac.csv',
 'U-01 Atm..csv',
 'U-05 Penex.csv',
 'U-06 Kero Mer.csv',
 'U-07.csv',
 'U-08 HC (I).csv',
 'U-08 HC (II).csv',
 'U-09 H2.csv',
 'U-11 DC..csv',
 'U-12,39.csv',
 'U-13.csv',
 'U-14,15.csv',
 'U-2,3,4(I).csv',
 'U-2,3,4(II).csv',
 'U-25  NEW LPG.csv',
 'U-31-    Utilities III.csv',
 'U-31-  Utilities III.csv',
 'U-31.36 Utilities-I.csv',
 'U-31.36 Utility-I.csv',
 'U-37.38 Utilities-II.csv',
 'U-37.38 Utility-II.csv',
 'U-51 Crude,LPG.csv',
 'U-51 Gasoline.csv',
 'U-51 Jet.Diesel.csv',
 'U-54 WWTU.csv']

In [102]:
df=pd.read_excel('2022 All lab results.xlsm',sheet_name=1)

In [103]:
df.head()

,File,Sheet,Descreption,Test,Time,Value
0,01.01.2022.xlsx,U-01 Atm.,Crude From Storage 01-SC-02 ST1,Density at 15ºC ASTM D4052/D2598 kg/m3,10:00:00,843.9
1,31.12.2022 Special.xls,EOY,TK-41,Density 15 °C ASTM D4052 kg/m³,30.12.2022,907.8
2,01.01.2022.xlsx,U-01 Atm.,Crude From Storage 01-SC-02 ST1,Salt content ASTM D3230 PTB,10:00:00,17
3,01.01.2022.xlsx,U-01 Atm.,Crude From Storage 01-SC-02 ST1,Sulfur ASTM D 4294 % mass,10:00:00,1.54
4,01.01.2022.xlsx,U-01 Atm.,Crude From Storage 01-SC-02 ST1,API° Gravity ASTM D 287,10:00:00,36.07

In [104]:
# remove any value that is not a number
df.dropna(subset=['Value'], inplace=True)

In [105]:
# Extract the date using regular expressions and str.extract
df['Date'] = df['File'].str.extract(r'(\d{2}\.\d{2}\.\d{4})')

# Replace dots with slashes to get the desired format
df['Date'] = df['Date'].str.replace('.', '/')

# Convert the Date column to datetime format
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

C:\Users\asabri\AppData\Local\Temp/ipykernel_12540/579525308.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Date'] = df['Date'].str.replace('.', '/')

In [106]:
columns=df.columns.tolist()

In [107]:
df=df[['Date']+columns[0:-1]]

In [108]:
# Convert the Time column to datetime format
df['Time_converted'] = pd.to_datetime(df['Time'], format='%H:%M:%S',errors='coerce').dt.time

In [109]:
# combine Date and time
df['Timestamp'] = df.apply(lambda x: pd.datetime.combine(x['Date'], x['Time_converted']) if pd.notna(x['Time_converted']) else pd.NaT, axis=1)

C:\Users\asabri\AppData\Local\Temp/ipykernel_12540/31699144.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df['Timestamp'] = df.apply(lambda x: pd.datetime.combine(x['Date'], x['Time_converted']) if pd.notna(x['Time_converted']) else pd.NaT, axis=1)

In [110]:
df[['Timestamp','File','Time']].sample(5)

                 Timestamp             File      Time
734605 2022-08-27 10:00:00  27.08.2022.xlsx  10:00:00
991001 2022-11-15 06:00:00  15.11.2022.xlsx  06:00:00
194871 2022-03-04 10:00:00  04.03.2022.xlsx  10:00:00
637754 2022-07-28 06:00:00  28.07.2022.xlsx  06:00:00
517990                 NaT  16.06.2022.xlsx       NaN

In [111]:
columns=df.columns.tolist()

In [112]:
columns

['Date',
 'File',
 'Sheet',
 'Descreption',
 'Test',
 'Time',
 'Value',
 'Time_converted',
 'Timestamp']

In [113]:
df=df[['Timestamp']+columns[1:-2]]

In [114]:
df['Sheet']=df['Sheet'].str.strip()

In [115]:
df['Descreption']=df['Descreption'].str.strip()

In [116]:
df['sc and test'] = df['Descreption'].astype(str)+'_'+df['Test'].astype(str)

In [117]:
df['sc and test'] = df['sc and test'].str.strip()
df['sc and test'] = df['sc and test'].str.replace(' ', '_')
df['sc and test'] = df['sc and test'].str.lower()

In [119]:
# Dropping al columns except Timestamp, sc_test and value
df_final=df[['Timestamp','sc and test','Value']].copy()

In [134]:
df_final

,Timestamp,sc and test,Value
0,2022-01-01 10:00:00,crude_____from___storage_01-sc-02_st1density_a...,843.9
1,NaT,tk-41density_15_°c_astm_d4052_kg/m³,907.8
2,2022-01-01 10:00:00,crude_____from___storage_01-sc-02_st1salt_cont...,17
3,2022-01-01 10:00:00,crude_____from___storage_01-sc-02_st1sulfur_as...,1.54
4,2022-01-01 10:00:00,crude_____from___storage_01-sc-02_st1api°_grav...,36.07
...,...,...,...
1048570,2022-12-03 06:00:00,debutanizer________overhead_04-sc-08_st1nc4_as...,42.7
1048571,2022-12-03 06:00:00,debutanizer________overhead_04-sc-08_st1butene...,1.1
1048572,2022-12-03 06:00:00,debutanizer________overhead_04-sc-08_st1c5+_as...,2.3
1048573,2022-12-03 12:00:00,debutanizer________overhead_04-sc-08_st295_%_e...,3
1048574,2022-12-03 18:00:00,debutanizer________overhead_04-sc-08_st395_%_e...,3

In [131]:
df['Value'].nunique()

18319

In [56]:
#df_pivot = df_final.pivot(index='Timestamp', columns='sc and test', values='Value')

In [55]:
#df_pivot = df.pivot_table(index='Timestamp', columns='sc and test', values='Value', aggfunc='mean')

In [73]:
df['Descreption'].str.strip()

0             Crude     From   Storage 01-SC-02 ST1
1                                             TK-41
2             Crude     From   Storage 01-SC-02 ST1
3             Crude     From   Storage 01-SC-02 ST1
4             Crude     From   Storage 01-SC-02 ST1
                             ...
1048570    Debutanizer        Overhead 04-SC-08 ST1
1048571    Debutanizer        Overhead 04-SC-08 ST1
1048572    Debutanizer        Overhead 04-SC-08 ST1
1048573    Debutanizer        Overhead 04-SC-08 ST2
1048574    Debutanizer        Overhead 04-SC-08 ST3
Name: Descreption, Length: 530216, dtype: object

In [171]:
df_final['Value']=pd.to_numeric(df_final['Value'],errors='coerce')

In [190]:
df_final.dropna(subset=['Value'],inplace=True)

In [192]:
df_final.dropna(subset=['Timestamp'],inplace=True)

In [194]:
df_last=df_final.pivot_table(index='Timestamp', columns='sc and test', values='Value')

In [204]:
df_last[df_last.columns[16]].isnull().sum()

5198

In [74]:
# making dataframe, each for specefic lab sheet
dff={}
for unit in df['Sheet'].unique():
    dff[f'{unit}']= df.loc[df['Sheet']==unit,:].copy()
    dff[f'{unit}'].to_csv(f'{unit}.csv')